* {
	outline: 0;
	box-sizing: border-box;
	font-family: 'Muli', sans-serif;
}

html,
body,
#root {
	height: 100%;
}

body {
	background: #f5f5f5;
}

body,
input,
button {
	font-family: Arial, Helvetica, sans-serif;
}

ul {
	list-style: none;
}

section {
	max-width: 1280px;
	display: flex;
	justify-content: center;
	margin: auto;
	padding: 40px 20px;
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 32px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.29px;
	color: #1e354c;
	margin: 0;
}

p {
	font-size: 18px;
}

@media (min-width: 768px) {
	h1 {
		font-size: 48px;
	}

	p {
		font-size: 24px;
	}

	section {
		padding: 40px 40px;
	}
}
